<div class="custom-portal"><ng-container #viewContainer /></div>
<tui-drawer *tuiPopup="openDrawer()" style="width: 320px; padding: 0.25rem;">
  <header>
    <h2 tuiHeader>
      <div tuiTitle>
        <span tuiCaption>Team-Aufgaben</span>
      </div>
    </h2>
  </header>
  <app-tasks></app-tasks>
</tui-drawer>

<header tuiNavigationHeader class="app-header">
  <div class="header-left">
    <button
      tuiIconButton
      appearance="secondary-grayscale"
      iconStart="@tui.menu"
      type="button"
      aria-label="Seitenleiste umschalten"
      (click)="handleToggle()"
    ></button>
    <span class="app-brand">ArquivoMate</span>
  </div>

  <div class="header-actions">
    <button iconStart="@tui.bell" tuiIconButton type="button" aria-label="Benachrichtigungen">
      <tui-badge-notification />
    </button>
    <div class="header-actions-cluster">
      <button
        iconStart="@tui.sun"
        tuiIconButton
        type="button"
        aria-label="Darkmode umschalten"
        (click)="toggleDarkmode()"
      ></button>
      <app-language-switcher class="lang-switch-inline"></app-language-switcher>
      <button tuiButton type="button" appearance="secondary" (click)="openDrawer.set(!openDrawer())">
        Aufgaben
      </button>
    </div>
  </div>
</header>

<div class="app-body-layout">
  <aside class="sidebar" [tuiNavigationAside]="expanded()">
    <header class="sidebar-header">
      <button
        tuiAsideItem
        iconStart="@tui.home"
        routerLink="/app/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        type="button"
      >
        Dashboard
      </button>
    </header>

    <button
      tuiAsideItem
      iconStart="@tui.history"
      routerLink="/app/import-history"
      routerLinkActive="active"
      type="button"
    >
      Import-Historie
    </button>

    <tui-aside-group>
      <button
        tuiAsideItem
        iconStart="@tui.settings"
        tuiChevron
        routerLink="/app/settings"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        type="button"
      >
        Einstellungen
        <ng-template>
          <button
            tuiAsideItem
            type="button"
            routerLink="/app/settings/email"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            E-Mail
          </button>
        </ng-template>
      </button>
    </tui-aside-group>
  </aside>

  <main class="main-content">
    <router-outlet />
  </main>
</div>
