<div class="doc-tabs" [class.sticky]="sticky">
  <ng-container *transloco="let t">
    <tui-tabs [(activeItemIndex)]="_active" (activeItemIndexChange)="onIndexChange($event)" size="m">
      <button tuiTab type="button" iconStart="@tui.file-text">{{ t('Document.Tabs.Details') }}</button>
      <button tuiTab type="button" iconStart="@tui.align-left">{{ t('Document.Tabs.Content') }}</button>
      <button tuiTab type="button" iconStart="@tui.history">{{ t('Document.Tabs.History') }}</button>
      <button tuiTab type="button" iconStart="@tui.message-square">
        {{ t('Document.Tabs.Notes') }}
        @if (notesCount && notesCount > 0) { <tui-badge size="s" appearance="primary" class="ml-badge">{{ notesCount }}</tui-badge> }
      </button>
  @if (showLabResults) { <button tuiTab type="button" iconStart="@tui.activity">{{ t('Document.Tabs.LabResults') }}</button> }
    </tui-tabs>
  </ng-container>
</div>
